# Generated with Atomizr – https://atom.io/packages/atomizr
".text.xml":
	"Enonic XP - Option":
		prefix: "xpOption"
		body: '''
			<option name="$1">
				<label>$2</label>
				<help-text>$3</help-text>
				<default>${4:true}</default>
				${5:<items>
					$6
				</items>}
			</option>$0
		'''
